body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.navbar a {
  color: white !important;
  font-size: 1.2em;
  margin: 0;
  position: relative;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.App-header {
  background-image: url("/src/assets/fondo.jfif");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.content {
  text-align: center;
  z-index: 2;
}

h1 {
  font-size: 3em;
  margin: 0;
}

p {
  font-size: 1.5em;
  margin: 0;
}

.bg-transparent {
  background-color: transparent !important;
}

/* Footer */
.App-footer {
  color: #6c757d; /* Color gris para el texto */
  background-color: transparent; /* Fondo transparente */
  padding: 1rem; /* Mantén el padding si es necesario */
  text-align: start;
  font-size: 1rem; /* Tamaño de fuente estándar */
  position: absolute; /* Fijar el footer al fondo */
  bottom: 0; /* Alinear al fondo */
  width: 100%; /* Ancho completo */
  left: 0;
}
