/* Estilos globales */
body {
  font-family: "Arial", sans-serif; /* Puedes cambiar 'Arial' por la fuente que prefieras */
  color: #333; /* Color de texto predeterminado */
}

/* Sidebar.css */
.sidebar {
  width: 250px;
  padding-top: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: inherit; /* Hereda la fuente global */
  color: inherit; /* Hereda el color global */
}

.nav-link {
  padding: 10px 15px;
  font-size: 1.2rem;
  font-family: inherit; /* Hereda la fuente global */
  color: inherit; /* Hereda el color global */
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.footer {
  color: #6c757d; /* Color gris para el texto */
  background-color: transparent; /* Fondo transparente */
  padding: 1rem; /* Mantén el padding si es necesario */
  text-align: center; /* Centrar el texto */
  font-size: 1rem; /* Tamaño de fuente estándar */
}
